<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ebankingv1">
<listeners>
    <listener class-name="com.bankingv1.utilites.Reporting"></listener>
</listeners>
    
<test name="BankingApp chrome Test">
    <parameter name="browser" value="chrome" />
    <classes>
        <class name="com.bankingv1.testCase.TC_LoginTest_001"/>
<!--        <class name="com.bankingv1.testCase.TC_LoginDDT_002"></class>-->
        <class name="com.bankingv1.testCase.TC_AddCustomer"></class>

    </classes>
</test>


</suite>